<h1>Jump Page</h1>
<h2>Impersonate a user</h2>
<ul>
<li>
  <%= link_to "Alice", :controller=> "admin", :action => "impersonate", :user => "alice" %>
</li>
<li>
  <%= link_to "Bob", :controller=> "admin", :action => "impersonate", :user => "bob" %>
</li>
<li>
  <%= link_to "Jack", :controller=> "admin", :action => "impersonate", :user => "jack" %>
</li>
<li>
  <%= link_to "Justin", :controller=> "admin", :action => "impersonate", :user => "justin" %>
</li>
</ul>
