<h1>Please select a building</h1>
<%= form_tag do %>
  <%= label_tag(:building_id, "Building:") %>
  <%= select_tag(:building_id, options_for_select(Building.all.collect { |b| [ b.name, b.id ] })) %>
  <div class="actions">
	<%= submit_tag("Submit", class: 'btn btn-primary') %>
  </div>
<% end %>
