<h1>Welcome to Project Euclid</h1>
<%= link_to "Users", :controller => :users, :action => :index %> <br>
<%= link_to "Buildings", :controller => :buildings, :action => :index %> <br>
<%= link_to "Spots", :controller => :spots, :action => :index %> <br>
