<h1>Welcome to Project Euclid</h1>
<%= link_to "Search for a Spot", :controller => :availabilities, :action => :search %> <br>
<%= link_to "Rent Your Spot", :controller => :spots, :action => :yours %> <br>
<%= link_to "Request a Spot", :controller => :requests, :action => :new %> <br>
