<h1>Welcome to Parking Exchange</h1>
<%= link_to "Search for a Spot", { :controller => :availabilities, :action => :search }, { class: "btn btn-primary" } %>
<%= link_to "Rent Your Spot", { :controller => :spots, :action => :yours }, { class: "btn btn-primary" }  %> 
<%= link_to "Request a Spot", { :controller => :requests, :action => :new }, { class: "btn btn-primary" } %> 

