<div class="row">
	<div class="offset3">
		<h1>Welcome to Parking Exchange</h1>
	</div>
</div>
<div class="row">
  <div class="span2 offset2">
<%= link_to "Search for a Spot", { :controller => :availabilities, :action => :search }, { class: 'btn btn-large btn-primary' } %>
</div>
<div class="span2 offset2">
<%= link_to "Rent Your Spot", { :controller => :spots, :action => :yours }, { class: 'btn btn-large btn-primary' } %>
</div>
</div>
