<h1>Welcome to Project Champa</h1>
<%= link_to "Search for a Spot", :controller => :availabilities, :action => :search %>
<br>
<%= link_to "Rent Your Spot", :controller => :spots, :action => :yours %>
<br>