<h1>Edit UserPreferences</h1>
<%= form_for(@prefs) do |f| %>
<div class="field">
    <%= f.label :building_id %><br />
    <%= f.select :building_id, Building.all.collect { |b| [ b.name, b.id ] } %>
</div>
<div class="actions">
	<%= f.submit %>
</div>

<% end %>