<h1>User Preferences</h1>
Building: <%= @prefs.building.name %>
<br>
Notify me when a new request is created: <%= @prefs.notify_new_request %>
<br>
Notify me when a new listing is created: <%= @prefs.notify_new_listing %>
<br>
<%= link_to 'Edit', edit_user_preference_path(@prefs) %>
