A new request has been created on Project Champa:
<p>
  <b>Requester:</b>
  <%= "#{@request.requester.first_name} #{@request.requester.last_name}"  %>
</p>

<p>
  <b>Start date:</b>
  <%= @request.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @request.end_date %>
</p>

<p>
  <b>Bid price:</b>
  <%= @request.bid_price %>
</p>

